<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Econômico : Panificadora</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/economico_logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                        <li><a href="#">panificadora</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue nat">
        <section class="body pan">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">Pães</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pullman_tradicional.png" alt="Pullman tradicional">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão de forma Pullman Tradicional 400g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pullman_bisnaguinha.png" alt="Pullman bisnaguinha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bisnaguinha Pullman 300g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pullman_integral.png" alt="Pullman integral">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão de forma Pullman Integral 400g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/trigostoso_tradicional.png" alt="Trigostoso tradicional">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão de forma TriGostoso Tradicional 450g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/trigostoso_bisnaguinha.png" alt="Trigostoso bisnaguinha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bisnaguinha TriGostoso 300g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/trigostoso_integral.png" alt="Trigostoso integral">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão de forma TriGostoso Integral 450g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pao_frances.png" alt="Pão Francês">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão Francês 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pullman_hotdog.png" alt="Pullman Hot Dog">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Hot Dog Pullman 200g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/pao_mandi.png" alt="Pão Mandi">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pão Mandi 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Doces</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/sonho.png" alt="sonho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha Sonho UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/rosquinha_coco.png" alt="Rosquinha de cocô">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha de Cocô UND 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/donuts.png" alt="donuts">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha Donuts UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/bolo_cenoura.png" alt="bolo de cenoura">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bolo de Cenoura UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/bolo_laranja.png" alt="bolo de laranja">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bolo de Laranja UND 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/bolo_chocolate.png" alt="bolo de chocolate">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bolo de Chocolate UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Salgados</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/americano_salsicha.png" alt="americano de salsicha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Americano de Salsicha UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/coxinha.png" alt="Coxinha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Coxinha UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/esfirra.png" alt="esfirra">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Esfirra UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/enroladinho_presunto_queijo.png" alt="enroladinho de presunto e queijo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Enroladinho de Presunto e Queijo UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/enroladinho_salsicha.png" alt="enroladinho de salsicha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Enroladinho de Salsicha UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/padaria/enroladinho_quijo.png" alt="enroladinho de queijo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgado Enroladinho de Queijo UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>